.sidebar-frame {
  border-left: none;
  border-top: none;
  border-bottom: none;
}

.selectable-item-renderer,
.selectable-item-renderer:prelight
{
  padding: 4px;
}

VirtausSelectableIconView
{
  background-color: lighter(@theme_bg_color);
}

VirtausProjectRenderer
{
  background-color: @theme_bg_color;
  border-radius: 8px;
}

VirtausProjectRenderer.bottom-stripe
{
  background-color: alpha(#000000, 0.5);
  border-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 12px;
}

